.darkTheme {
    /* Add to <body> to change theme, swapping dark/bright color */
    --color-bg: #222222;
    --color-fg: #ffffff;
    --color-dark-theme: #00ff00;
    --color-bright-theme: #000080;
}

.darkTheme #navTop button {
    background-image: url(https://cdn.discordapp.com/attachments/1075495496560410655/1076402435368681472/darkTheme.png);
}