:root {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --color-dark-theme: #000080;
    --color-bright-theme: #00ff00;
    --font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    --font-size: 19px;
}

.darkTheme {
    /* Add to <body> to change theme */
    --color-bg: #222222;
    --color-fg: #ffffff;
}

/* Individual element */
a {
    text-decoration: none;
    color: var(--color-fg);
}

button {
    border-radius: 0;
    border: 0px solid var(--color-dark-theme);
    background-color: var(--color-bright-theme);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

input {
    border: 1px solid var(--color-dark-theme);
    border-radius: 0;
    outline: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

/* Page elements */
html {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

header {
    background-color: var(--color-bg);
}

#navTop {
    /* Top of navbar */
    padding: 1rem 5rem;
    display: flex;
}
#navTop a {
    height: 4rem;
}
#navTop a img {
    height: 4rem;
    margin-right: 1rem;
}
header hr {
    margin-top: 0;
}

nav {
    flex-grow: 1;
}

#curPage {
    margin-left: 1rem;
    text-align: right;
}

main {
    padding: 0 1rem;
}

footer {
    display: flex;
    padding: 1rem;
    background-color: var(--color-fg);
    color: var(--color-bg);
}

footer img {
    height: 3rem;
}

/* Classes */
.linkList {
    display: flex;
}
.linkList div {
    flex-grow: 1;
    flex-basis: 0;
}
.linkList div a {
    font-weight: bold;
    text-decoration: underline;
    color: var(--color-dark-theme);
}